
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

/*---------------Page--------------*/

body{
  background: linear-gradient(to right, #e4881f, #f0461b);
  font-family: 'Roboto', sans-serif;
}

/*-----------Table--------------------*/
.theader {
  background-color:rgba(231, 41, 16, 0.548)
}

/*-------tiny elements----------*/
.dbtn {
  background-color: #8d220896;
  border: none;
  margin: 5px;
  padding: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
